# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production builds
/build
/dist

# OS-specific
.DS_Store
Thumbs.db
desktop.ini

# editor/IDE
.vscode/
.idea/

# logs & debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# caches
.eslintcache
.stylelintcache
.parcel-cache
.cache/

# misc runtime/output
.node_repl_history
*.tgz

# env files (ignore all real envs, keep examples)
.env
.env.*
*.env
!.env.example
!.env.template

# local notes/secrets
NOTATKI.txt
kod do tokena appki.txt
